<div class="container">
  <div class="row">
    <div class="col-8 offset-2">
      <h1 class="text-center my-5 text-border"><%= t('.title') %></h1>
      <p class="text-center mb-4 text-border fs-5"><%= t('.description') %></p>
      <%= form_with model: @user, url: password_reset_path(@token) do |f| %>
        <%= render 'shared/error_messages', object: f.object %>
        <div class="input-wrapper mb-4">
          <i class="fa-solid fa-unlock-keyhole input-icon"></i>
          <%= f.label :password, class: 'form-label text-border fs-5' %>
          <%= f.password_field :password, class: 'form-control rounded-pill form-control-with-icon', required: true %>
        </div>
        <div class="input-wrapper mb-4">
          <i class="fa-solid fa-unlock-keyhole input-icon"></i>
          <%= f.label :password_confirmation, class: 'form-label text-border fs-5' %>
          <%= f.password_field :password_confirmation, class: 'form-control rounded-pill form-control-with-icon', required: true %>
        </div>
        <div class="text-center pt-3 mb-5">
          <%= f.submit 'OK', class: 'btn btn-primary' %>
        </div>
      <% end %>
    </div>
  </div>
</div>
