<div class="container">
  <div class="row">
    <div class="col-6 offset-3">
      <h2 class="text-center my-5"><%= t('.title') %></h2>
      <p class="text-center mb-5"><%= t('.description') %></p>
      <%= form_with url: password_resets_path, local: true do |f| %>
        <div class="input-wrapper my-3">
          <i class="fa-solid fa-envelope input-icon"></i>
          <%= f.label :email, User.human_attribute_name(:email), class: 'form-label' %>
          <%= f.email_field :email, class: 'form-control rounded-pill form-control-with-icon' %>
        </div>
        <div class="text-center pt-3">
          <%= f.submit t('defaults.submit'), class: 'btn btn-primary actions' %>
        </div>
      <% end %>
    </div>
  </div>
</div>
