<div class="container">
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <h1 class="text-center my-5 text-border"><%= t('.title') %></h2>
      <p class="text-center mb-5 text-border fs-5"><%= t('.description') %></p>
      <%= form_with model: @user do |f| %>
        <%= render "shared/error_messages", object: f.object %>
        <div class="input-wrapper my-3">
          <i class="fas fa-user input-icon"></i>
          <%= f.label :name, class: 'form-label text-border fs-5' %>
          <%= f.text_field :name, class: 'form-control rounded-pill form-control-with-icon' %>
        </div>
        <div class="text-center pt-3 mb-5">
          <%= f.submit 'OK', class: 'btn btn-primary actions' %>
        </div>
      <% end %>
    </div>
  </div>
</div>