<div class="offcanvas offcanvas-start d-flex flex-column flex-shrink-0 p-3 bg-dark text-light" style="width: 280px;" id="offcanvas" tabindex="-1" aria-labelledby="offcanvasLabel">
  <hr>
  <ul class="nav nav-pills flex-column mb-auto">

    <li class="nav-item d-flex align-items-center ms-5">
        <i class="fa-solid fa-magnifying-glass text-light"></i>
        <%= link_to (t 'defaults.search'), songs_path, class: "nav-link text-light" %>
    </li>

    <li class="nav-item d-flex align-items-center ms-5 mt-2">
      <i class="fa-solid fa-list text-light"></i>
      <%= link_to Playlist.model_name.human, playlists_path, class: "nav-link text-light" %>
    </li>

    <li class="nav-item d-flex align-items-center ms-5 mt-2">
      <i class="fa-solid fa-gear"></i>
      <%= link_to (t 'defaults.settings'), '#', class: "nav-link text-light" %>
    </li>
  </ul>
  <hr>

  <div class="dropdown">
    <a href="#" class="d-flex align-items-center text-light text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
      <div class="ms-5 me-2">
        <i class="fa-solid fa-user"></i>
        <% if logged_in? %>
          <strong class="ms-2"><%= current_user.name %></strong>
        <% else %>
          <strong class="ms-2"><%= 'Guest' %></strong>
        <% end %>
      </div>
    </a>
    <% if logged_in? %>
      <ul class="dropdown-menu dropdown-menu-dark text-small shadow">
        <li><%= link_to (t 'defaults.logout'), logout_path, data: { turbo_method: :delete, turbo_confirm: (t 'defaults.logout_message') }, class: "dropdown-item no-underline" %></li>
      </ul>
    <% else %>
      <ul class="dropdown-menu dropdown-menu-dark text-small shadow">
        <li><%= link_to (t 'defaults.sign_up'), signup_path, class: "dropdown-item no-underline" %></li>
        <li><%= link_to (t 'defaults.login'), login_path, class: "dropdown-item no-underline" %></li>
      </ul>
    <% end %>
  </div>
</div>
