<%= render "shared/modal" do %>
  <div class="container">
    <div class="row">
      <div class="col-10 offset-1">
        <%= turbo_frame_tag @song do %>
          <%= bootstrap_form_with(model: @song, data: { action: "turbo:submit-end->modal#close" }) do |f| %>
            <%= render 'shared/error_messages', object: f.object %>
            <div class="mt-3">
              <%= f.text_field :artist, placeholder: (t 'defaults.placeholder_artist') %>
            </div>
            <div class="mt-3">
              <%= f.text_field :title, placeholder: (t 'defaults.placeholder_title') %>
            </div>
            <div class="mt-3 col-md-4">
              <%= f.select :key, options_for_select((-6..6).map { |n| [n == 0? '原キー' : (n > 0 ? "+#{n}" : n), n] }, selected: 0), {} %>
            </div>
            <div class="mt-3">
              <%= f.select :playlist_id, current_user.playlists.map { |n| [n.name, n.id] }, { include_blank: (t 'defaults.select_playlist') }, class: "form-select", required: true %>
              <div class="d-flex justify-content-end">
                <%= link_to (t 'defaults.new_playlist'), playlists_path, data: { turbo_frame: "_top"} %>
              </div>
            </div>
            <div class="text-center mt-4 mb-2">
              <%= f.submit class: 'btn btn-primary', data: { turbo_frame: "_top"} %>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
