<div class="container">
  <div class="row">
    <div class="col-6 offset-3 mt-5">
        <%= form_with model: @song do |f| %>
          <div class="mb-4 mt-5">
            <%= f.label :artist, class: 'form-label' %>
            <%= f.text_field :artist, placeholder: (t '.placeholder_artist'), class: 'form-control' %>
          </div>
          <div class="mb-4">
            <%= f.label :title, class: 'form-label' %>
            <%= f.text_field :title, placeholder: (t '.placeholder_title'), class: 'form-control' %>
          </div>
          <div class="text-center mt-5">
            <%= f.submit class: 'btn btn-primary' %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>