<div class="container">
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <p class="home-title text-center mt-5" ><%= (t 'defaults.title') %></p>
      <div class="potta-one">
        <p class="text-center">本サービスは、<br>カラオケでよく歌う楽曲をキー設定と紐付けてリスト化することによって、<br>カラオケを快適に楽しめるようにするためのサービスです。</p>
        <p class="text-center mt-5 fs-3">使い方</p>

        <ol class="mb-5" style="list-style-type: none;">
          <li class="mt-4 mb-3 text-center">1. まずはプレイリストを作成します</li>
          <div class="d-flex justify-content-center">
            <%= video_tag "/videos/create_playlist.mp4", autoplay: true, muted: true, loop: true, playsinline: true, width: 250, height: 300 %>
          </div>
          <li class="mb-3 text-center mt-5">2. 持ち歌を検索、またはヘッダーの右上のボタンからプレイリストに追加します</li>
          <div class="d-flex justify-content-center">
            <%= video_tag "/videos/add_song.mp4", autoplay: true, muted: true, loop: true, playsinline: true, width: 250, height: 300 %>
          </div>
          <li class="mb-3 text-center mt-5">3. カラオケで歌う際に、設定したキーをリストから確認します</li>
          <div class="d-flex justify-content-center">
            <%= video_tag "/videos/confirm_playlist.mp4", autoplay: true, muted: true, loop: true, playsinline: true, width: 250, height: 300 %>
          </div>
          <li class="mb-3 text-center mt-5">4. デンモクからキーを設定し、カラオケを楽しもう！</li>
          <div class="d-flex justify-content-center">
            <%= image_tag "enjoy.png", width: 200, height: 200 %>
          </div>
        </ol>
      </div>
    </div>
  </div>
</div>
