<%= turbo_frame_tag playlist do %>
  <%= form_with model: playlist, local: true do |f| %>
    <%= render 'shared/error_messages', object: f.object %>
    <div class="input-wrapper my-3">
      <i class="fa fa-list input-icon"></i>
      <%= f.label :name, class: 'form-label' %>
      <%= f.text_field :name, class: 'form-control rounded-pill form-control-with-icon' %>
    </div>
    <div class="text-center pt-3">
      <%= f.submit playlist.new_record? ? (t 'defaults.create') : (t 'defaults.edit'), class: 'btn btn-primary' %>
      <%= link_to (t 'defaults.cancel'), :back, class: 'btn btn-outline-secondary' %>
    </div>
  <% end %>
<% end %>