<%= turbo_frame_tag playlist do %>
  <div class="list-group">
    <div class="list-group-item rounded mt-3 py-4 d-flex justify-content-between">
      <%= link_to playlist_path(playlist), data: { turbo_frame: "false" }, class: "ms-3 fs-4 text-decoration-none text-black" do %>
        <%= playlist.name %>
      <% end %>
      <div class="position-absolute bottom-0 end-0 mb-2 me-2">
        <%= link_to (t 'defaults.edit'), edit_playlist_path(playlist), class: "btn btn-success btn-sm" %>
        <%= link_to (t 'defaults.destroy'), playlist_path(playlist), class: "btn btn-danger btn-sm", data: { turbo_method: :delete, turbo_confirm: (t 'defaults.delete_message') } %>
      </div>
    </div>
  </div>
<% end %>
