<div class="container">
  <div class="row">
    <div class="col-8 offset-2">
      <h2 class="text-center my-5"><%= t('.title') %></h2>

      <div class="d-flex justify-content-end">
        <%= link_to t('.btn'), new_playlist_path, class: "btn btn-outline-success" %>
      </div>

      <%# <%= turbo_frame_tag Playlist.new %>

      <div id="playlists">
        <% if @playlists.present? %>
          <%= render @playlists %>
        <% else %>
          <p class="text-center pt-5">
            <%= t('.no_result') %>
          </p>
        <% end %>
      </div>
    </div>
  </div>
</div>
