<%= turbo_frame_tag "songs-list" do %>
  <div class="container">
    <div class="row">
      <div class="col-8 offset-2 my-5">
        <%= search_form_for @q, url: playlist_path(@playlist), html: { data: { turbo_frame: "songs-list", controller: "form", action: "input->form#submit" } } do |f| %>
          <div class="input-wrapper mb-4">
            <i class="fa-solid fa-magnifying-glass search-icon"></i>
            <%= f.search_field :title_or_artist_cont, placeholder: (t 'defaults.placeholder'), class: 'form-control form-control-with-icon' %>
          </div>
        <% end %>
        <h2 class="text-center my-5"><%= @playlist.name %></h2>
        <% if @songs.present? %>
          <th><%= sort_link(@q, :title) %></th>
          <th><%= sort_link(@q, :artist) %></th>
          <div id="songs">
            <%= turbo_frame_tag "songs-page-#{@songs.current_page}" do %>
              <% @songs.each do |song| %>
                <%= render 'song', song: song, playlist: @playlist %>
              <% end %>
              <%= turbo_frame_tag "songs-page-#{@songs.next_page}", loading: :lazy, src: path_to_next_page(@songs) %>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
