<h2 class="text-center mt-5 mb-3"><%= t('.title') %></h2>

<%= form_with url: login_path do |f| %>
  <div class="row">
    <div class="col-6 offset-3">
      <div class="input-wrapper mb-4">
        <i class="fa-solid fa-envelope input-icon"></i>
        <%= f.label :email, User.human_attribute_name(:email), class: 'form-label' %>
        <%= f.email_field :email, class: 'form-control rounded-pill form-control-with-icon' %>
      </div>
      <div class="input-wrapper mb-4">
        <i class="fa-solid fa-unlock-keyhole input-icon"></i>
        <%= f.label :password, User.human_attribute_name(:password), class: 'form-label' %>
        <%= f.password_field :password, class: 'form-control rounded-pill form-control-with-icon' %>
      </div>
      <div class="text-center pt-3">
        <%= f.submit (t 'defaults.login'), class: 'btn btn-primary' %>
      </div>
    </div>
  </div>
<% end %>