<!DOCTYPE html>
<html>
  <head>
    <title><%= (t 'defaults.title') %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="turbo-cache-control" content="no-cache">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cherry+Bomb+One&display=swap" rel="stylesheet">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <% if logged_in? %>
      <%= render 'shared/header' %>
    <% else %>
      <%= render 'shared/before_login_header' %>
    <% end %>

    <%= render 'shared/flash_messages' %>
    <%= yield %>
    <%= render 'shared/footer' %>
    <%= render 'shared/bottom_navigation' %>
    <%= turbo_frame_tag "modal" %>
    <div id="flashes" class="position-fixed top-0 end-0 mt-3 me-3 flash"></div>
  </body>
</html>
